**Q1. What are data structures, and why are they important.**

ans - Data structures are organized formats for storing and managing data.
Data structures are important because they define how data is stored, accessed, and manipulated in databases.

**Q2.  Explain the difference between mutable and immutable data types with examples.**

Ans : Mutable data types can be modified once it defined. For ex - List, However immutable cann't be modified once defined for ex - Tuples.

**Q3. What are the main differences between lists and tuples in Pythone.**

Ans - List are mutable however tuples are immutable.

**Q.4 Describe how dictionaries store data.**

Ans - These are the ways -
      1). Standard Table Format 2).  Standard Table Format ETC.

**Q5. Why might you use a set instead of a list in Pythone.**

Ans - Here are reasons to use SET instead of list in python.
      1). Set automatically removes duplicates data. Every element in a set is unique. however list allow duplicate data.
      2). set does not maintain the order of elements. However List does.
      THere are also more reasons like faster lookups and all.

**Q6. What is a string in Python, and how is it different from a list ?**

Ans - String use for immutable data like text, however list are use for collecting various types of data which are immutable.

**Q7. How do tuples ensure data integrity in Python ?**

Ans - Tuples can't be changed once defined, so tuples are prevanted from  accidental Changes and that's how tuples ensure data integrity.

**Q8. What is a hash table, and how does it relate to dictionaries in Python ?**

Ans - A hash table is a data structure that stores key value and allows fast access to values based on their keys.

**Q9 . Can lists contain different data types in Python ?**

Ans - Yes.

Q.10  Explain why strings are immutable in Python ?

Ans - Generally we use strings for text purposes and that time we need same type of data which can't be modified.

**Q11. What advantages do dictionaries offer over lists for certain task ?**

Ans - 1. Faster Lookups 2. Key-Based Access etc.

**Q12. Describe a scenario where using a tuple would be preferable over a list**

Ans - Tuples are more preferable over list where we don't want to change the data like as some location, account numbers, zip code etc.

**Q13. How do sets handle duplicate values in Python ?**
Ans - Sets handle duplicate valuse in python authomatically because it is programmed to handle only unique elements.

**Q14. How does the “in” keyword work differently for lists and dictionaries ?**

Ans - use of "in" in list provide the exect value however in dictionaries provides the result of key is present or not.

**Q15. Can you modify the elements of a tuple? Explain why or why not ?**

Ans - NO, becuae it is programmed to be a immutable data type.

**Q16. What is a nested dictionary, and give an example of its use case.**

Ans - A nested dictionary is a dictionary where the value of a key is another dictionary.

**Q17. Describe the time complexity of accessing elements in a dictionary.**

Ans - Don't know.

**Q18. In what situations are lists preferred over dictionaries ?**

Ans - These are the situation. 1. When we need to change data infuture. 2. When we want our data in order or squence. etc.

**Q19. Why are dictionaries considered unordered, and how does that affect data retrieval ?**

Ans - Dictionaries are designed to be in unorder and because of it is unoreder it retrives data fast.

**Q20. Explain the difference between a list and a dictionary in terms of data retrieval.**

Ans - Differences between list and dictionary -
      1. List are oreder hoever dictionary are unorder.
      2. dictionary retirev the data faster than list.


********************************************************************************

### **Practical Questions**

**Q1 .  Write a code to create a string with your name and print it.**

In [5]:
x = "Rahul"
print(x)

Rahul

**Q2. Write a code to find the length of the string "Hello World".**

In [9]:
x = "Hello Wolrd"
Length = len(x)
print(Length)

11

**Q3. Write a code to slice the first 3 characters from the string "Python Programming**

In [10]:
a = "Python Programming"
sliced_python = a[:3]
print(sliced_python)

Pyt

**Q4. Write a code to convert the string "hello" to uppercase.**

In [16]:

x = "hello pw"

Uppercase_x = x.upper()

print(Uppercase_x)

HELLO PW

**Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple.**

In [16]:
my_list = ["I", "like", "apple"]

my_list["apple"] = "orange"

print(my_list)

TypeError: list indices must be integers or slices, not str

**Q6. Write a code to create a list with numbers 1 to 5 and print it.**

In [28]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

**Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [29]:
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

**Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [33]:
mylist = [1,2,3,4,5]
mylist.remove(3)
print(mylist)

[1, 2, 4, 5]

**Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [39]:
mylist = ["a", "b", "c", "d"]
second_element = mylist[2]
print(second_element)

c

**Q10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [48]:
my_list =  [10, 20, 30, 40, 50]
reverse_list = list(reversed(my_list))
print(reverse_list)

[50, 40, 30, 20, 10]

**Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [17]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

**Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [18]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

**Q13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [20]:
tuples = (10, 20, 5, 15)
minimum = min(tuples)
print(minimum)

5

**Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [21]:
animals = ('dog', 'cat', 'rabbit')

cat_index = animals.index('cat')

print(cat_index)

1

**Q15. 5. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it**

In [22]:
fruits = ("apple", "banana", "orange")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

**Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [25]:
my_set = {'a', 'b', 'c'}

print(my_set)

{'c', 'b', 'a'}

**Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [26]:
my_set = {1, 2, 3, 4, 5}

my_set.clear()

print(my_set)

set()

**Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [28]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

**Q19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [29]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

**Q20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [5]:
set1 = {1,2,3}
set2 = {2,3,4}

intersection_set = set1.intersection(set2)

print(intersection_set)

{2, 3}

**Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [6]:
x = { "name" : "Rahul", "age" : 24, "city" : "DBG"}

print(x)

{'name': 'Rahul', 'age': 24, 'city': 'DBG'}

**Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [10]:
Details = {"name" : "Rahul", "City" : "iowa",}
Details["country"] =  "USA"

print(Details)

{'name': 'Rahul', 'City': 'iowa', 'country': 'USA'}

**Q23. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [40]:
my_dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}

name_value = my_dictionary['name']

print(my_dictionary )

{'name': 'Bob', 'age': 22, 'city': 'New York'}

**Q24. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [42]:
my_dictionary = {'name': 'Alice', 'age': 30}

name_value = my_dictionary['name']

print(name_value)

Alice

**25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}**

In [43]:
my_dictionary =  {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dictionary:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

** Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [47]:
my_list = [1, 2, 3, 4, 5]

my_tuple = (6,7,8,9)

my_dictionary = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dictionary)

List: [1, 2, 3, 4, 5]
Tuple: (6, 7, 8, 9)
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

**Q27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)**

**Q28. Write a code to create a list with strings and print the element at the third index.**

In [48]:
string_list = ['Ram', 'Shyan', 'Mohan', 'Sohan']

print("Element at index 3:", string_list[3])

Element at index 3: Sohan

**Q29. Write a code to combine two dictionaries into one and print the result.**

In [49]:
dictionary_1 = {'name': 'Rahul', 'age': 25}

dictionary_2 = {'city': 'DBG', 'country': 'India'}

print(dictionary_1)
print(dictionary_2)

{'name': 'Rahul', 'age': 25}
{'city': 'DBG', 'country': 'India'}

**Q30. Write a code to convert a list of strings into a set.**

In [50]:
string_list = ['apple', 'banana','orange']
string_set = set(string_list)
print("Set:", string_set)

Set: {'orange', 'apple', 'banana'}